# Modifying DataFrames

We will use the same data as we used before, [federal support to all Canadian Provinces and Territories](https://www.fin.gc.ca/fedprov/mtp-eng.asp) :

In [10]:
import pandas as pd
import numpy as np

prov_support = pd.read_csv('pandas_ex1.csv',
                           sep=',',
                           skiprows=1,  # skipping one row
                           header=None, # Set to None, since we are skipping the first row
                           names= ['province_name','province','2016','2017','2018'], # names of columns
                           index_col= 'province') # use column 'province' as the index

prov_support

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
BC                 British Columbia   6482   6680   6925
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

## Add a column

In [ ]:
# Create a new column '2016-2018 change'. The new column is always added to the right
prov_support['2016-2018 change'] = prov_support['2018'] - prov_support['2016']

prov_support

## Update a value

In [ ]:
#  update the '2017' value for Ontario from 21101 to 22222
prov_support.loc['ON', '2017'] = 22222

prov_support

at[ ]

We can get the same result by using the at[] field which provides access to a single value. We will now change the value of 22222 back to 21101 for Ontario in 2017:

In [14]:
# get value of a cell
prov_support.at['ON', '2017']

22222

In [18]:
# set value of a data point back to 21101:
prov_support.at['ON', '2017'] = 21101

prov_support

                      province_name   2016   2017   2018  2016-2018 change
province
NL        Newfoundland and Labrador    724    734    750                26
PE             Prince Edward Island    584    601    638                54
NS                      Nova Scotia   3060   3138   3201               141
NB                    New Brunswick   2741   2814   2956               215
QC                           Quebec  21372  22720  23749              2377
ON                          Ontario  21347  21101  21420                73
MB                         Manitoba   3531   3675   3965               434
SK                     Saskatchewan   1565   1613   1673               108
AB                          Alberta   5772   5943   6157               385
BC                 British Columbia   6482   6680   6925               443
YT                            Yukon    946    973   1006                60
NT            Northwest Territories   1281   1294   1319                38
NU                          Nunavut   1539   1583   1634                95

## Delete a row or column

drop( )

In [19]:
# Deleting column '2016':
prov_support.drop('2016', axis=1)

                      province_name   2017   2018  2016-2018 change
province
NL        Newfoundland and Labrador    734    750                26
PE             Prince Edward Island    601    638                54
NS                      Nova Scotia   3138   3201               141
NB                    New Brunswick   2814   2956               215
QC                           Quebec  22720  23749              2377
ON                          Ontario  21101  21420                73
MB                         Manitoba   3675   3965               434
SK                     Saskatchewan   1613   1673               108
AB                          Alberta   5943   6157               385
BC                 British Columbia   6680   6925               443
YT                            Yukon    973   1006                60
NT            Northwest Territories   1294   1319                38
NU                          Nunavut   1583   1634                95

In [21]:
# Deleting Ontario and Quebec from the DataFrame:
prov_support.drop(['ON', 'QC']) # axis=0 is the default parameter

                      province_name  2016  2017  2018  2016-2018 change
province
NL        Newfoundland and Labrador   724   734   750                26
PE             Prince Edward Island   584   601   638                54
NS                      Nova Scotia  3060  3138  3201               141
NB                    New Brunswick  2741  2814  2956               215
MB                         Manitoba  3531  3675  3965               434
SK                     Saskatchewan  1565  1613  1673               108
AB                          Alberta  5772  5943  6157               385
BC                 British Columbia  6482  6680  6925               443
YT                            Yukon   946   973  1006                60
NT            Northwest Territories  1281  1294  1319                38
NU                          Nunavut  1539  1583  1634                95

When then drop() function is called, pandas creates a new DataFrame object, the original DataFrame is not modified. If we need to modify the original DataFrame, then we need to set a parameter inplace = True:

In [22]:
prov_support.drop(['ON', 'QC'], inplace= True)

In [23]:
prov_support

                      province_name  2016  2017  2018  2016-2018 change
province
NL        Newfoundland and Labrador   724   734   750                26
PE             Prince Edward Island   584   601   638                54
NS                      Nova Scotia  3060  3138  3201               141
NB                    New Brunswick  2741  2814  2956               215
MB                         Manitoba  3531  3675  3965               434
SK                     Saskatchewan  1565  1613  1673               108
AB                          Alberta  5772  5943  6157               385
BC                 British Columbia  6482  6680  6925               443
YT                            Yukon   946   973  1006                60
NT            Northwest Territories  1281  1294  1319                38
NU                          Nunavut  1539  1583  1634                95